@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');


body{
  background-color:#5b9bd5;
}

#Title{
     background-color: #5b9bd5;
  padding: 10px;
    
}

#getting-started,#typography{
  background-color: #70abe2;
  padding: 10px;
}
img {
  vertical-align: middle;
}

.pluto-icon {
  size: 200px;
}

span{
   font-weight: 500;
   font-family: 'Courier Prime',monospace;
}
.tag{
  color: #006FFF;
}
.selector{
  color: #FF005C;
}
.string {
  color: #ff9900;
}

.code-box{
  margin: 25px 0;
  padding: 25px;
  width: 70%;
  border-radius: 5px;
  background-color: #f0f0f0;
}




#features,#layout{
  background-color: #a8cdf0;
  padding: 10px;
}
code {
  font-family: Consolas, "courier new";
  color: #a80e1b;
  padding: 2px;
}

.start-buttons{
  margin-left: 30px;
 padding: 5px;
}

.pluto-footer{
  background-color: #040f25;
}

#footer{
  background-color: #040f25;
}


#title-text{
  font-size: 5rem;
  font-weight: 600;
}







